{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Sign IN {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main class="main-content  mt-0">
  <section>
    <div class="page-header min-vh-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-8">
              <div class="card-header pb-0 text-left bg-transparent">
                <h3 class="font-weight-bolder text-info text-gradient">
                  Credit Score - Porfolio
                </h3>
                <p class="mb-0">
                  Please enter your client number to check your credit score and detailed analysis.
                </p>
              </div>
              <div class="card-body">
                <form method="POST" action="">
                  {{ form.hidden_tag() }}
                  <fieldset class="form-group">
                    <div class="form-group">
                      {{ form.id.label(class="form-control-label") }}
                      {{ form.id(class="form-control form-control-lg") }}
                    </div>
                  </fieldset>
                  <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right position-absolute top-0 h-100 w-50 d-md-block d-none me-n8">
              <div class="right-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
                style="background-image:url('/static/assets/img/logos/pad.png')"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}