<!DOCTYPE html>

<head>

  <title>
    Prêt à dépenser - Credit Score Dashboard
  </title>

  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/static/assets/css/dashboard.css?v=1.0.3" rel="stylesheet" />


</head>

<body class="g-sidenav-show  bg-gray-100">

  <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">

    {% include "includes/navigation.html" %}

    {% block content %}{% endblock content %}

  </main>

  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/static/assets/js/dashboard.min.js?v=1.0.3"></script>

</body>

</html>